@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');







body,html{
    margin : 0;
    background-color: rgb(49, 49, 96);
    height: 100%;
    width: 100%;
}
/* headerDesign */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
header ul {
    display: flex;
    gap: 20px;
}
header ul li{
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-family: "Inter", serif;
    font-weight: 400;
}
header ul li:last-child{
    padding: 10px;
    border-radius: 40px;
    background-color: #b36532;
}
header ul li:first-child{
    padding: 10px;
}
header > a{
    text-decoration: none;
    color: black;
}
@media (max-width : 768px){
    #profile{
        display: none;
    }
}